<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kyoantrovice.learningenglish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainPage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".EssentialWords"
            android:label="EssentialWords"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".Lesson1"
            android:label="Lesson1"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".ExerciseList"
            android:label="ExerciseList"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Exercise1a"
            android:label="Exercise1a"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".Exercise1b"
            android:label="Exercise1b"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".AudioList"
            android:label="AudioList"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".AudioLesson1"
            android:label="AudioLesson1"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity android:name=".MemoryGame"
            android:label="MemoryGame"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".feedback"
            android:label="Feedback"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
